.Input {
	width:100%;
	padding: 10px;
	box-sizing: border-box;
}

.Label{
	font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
    width: 30%;
    text-align: left;
}

.InputElement {
	background-color: #fff;
	border:1px solid #ccc;
	padding: 6px 10px;
	outline:none;
	display: inline-block;
	width:70%;
	box-sizing: border-box;
}

.InputElement:focus {
	background-color: #ccc;
	outline:none;
}
.error{
	border:1px solid red;
}